<h2>Responses</h2>
<ul class="response_list">
<<<<<<< HEAD
  <% @responses.each do |response| %>
  <li class="response" id="response-<%= response.id %>">
    Name: <%= response.user.name %> </br>
    Response: <%= response.content %>
=======
  <% @responses_and_respondents.each do |response| %>
  <li class="response" id="response-<%= response[:response][:id] %>">
    Name: <%= response[:user][:name] %> </br>
    Response: <%= response[:response][:content] %>
>>>>>>> master
  </li>
  <% end %>
</ul>
